.container {
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  background-image: url('black.jpg');
  background-size: cover;
      color: #001f75;
  background-color: black;
}
body{
  background-color: black;
}
img{
  position: relative;
}
.img{
  width: 30%;
  height: 30%;
  float: left;
}